.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.toch2 {
  padding-left: 8px;
}

.toch3 {
  padding-left: 16px;
  font-size: .8rem;
}

.toc_link {
  text-decoration: none;
  color: var(--color-primary);
}
