.wrapper {
  border-right: 1px solid var(--background_main_inverted);
  width: 42px;
  overflow: hidden;
  transition: ease-in-out .2s;
}

.wrapper:hover {
  width: 18rem;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav_link {
  text-decoration: none;
  color: var(--text_color_main);
}

.nav_link:hover {
  color: var(--text_color_main_inverted);
}

.item_name {
  height: 42px;
  padding-inline-start: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar_item_wrapper {
  display: flex;
  flex: column;
  align-items: center;
  border-bottom: 1px solid var(--background_main_inverted);
}

.sidebar_item_wrapper:hover {
  background-color: var(--background_secondary);
  color: var(--text_color_main_inverted);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
}
