.card {
  width: 42rem;
  padding: 32px;
  margin: 32px auto;
  border-radius: 24px;
  background-color: white;
  box-shadow: var(--post-shadow);
}

.abstract {
  padding: 32px;
}

.link {
  text-decoration: none;
  color: black;
}
