.card {
  width: 800px;
  margin: 32px;
  padding: 32px;
  border-radius: 8px;
  border: 1px solid var(--card_border);
  transition: ease-in-out .3s;
}

.card:hover {
  background-color: var(--card_background);
  box-shadow: var(--post-shadow);
}


.abstract {
  padding: 32px;
}

.link {
  text-decoration: none;
  color: var(--text_color_main);
}
