.code {
  font-family: var(--font-mono);
  padding: 10px;
}

.pre {
  font-family: var(--font-mono);
  padding: 10px;
}

.h1 {
  font-size: 1.75rem;
  font-weight: 650;
  margin-bottom: 0.5em;
}

.h2 {
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.h3 {
  font-size: 1.25rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}
