*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--font-text);
  color: var(--text_color_main);
  background-color: var(--background_main);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}

a {
  color: var(--text_color_main);
  text-decoration: none;
}
