.header {
  border-bottom: 1px solid var(--background_main_inverted);
  background-color: var(--background_secondary);
  color: var(--text_color_main_inverted);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
}

.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text_color_main);
}
