.header {
  border-bottom: 4px solid #eaeaea;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--foreground);
}
