.title_wrapper {
  margin-top: 42px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  min-height: 180px;
  padding-inline-start: 36px;
  display: flex;
  align-items: center;
  background-color: var(--background_secondary);
  color: var(--text_color_main_inverted);
  font-size: 3rem;
}

.article_wrapper {
  display: flex;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 2px solid var(--background_secondary);
  flex-direction: row-reverse;
  margin-bottom: 42px;
}

.article {
  max-width: 48rem;
  padding-block-start: 48px;
  padding-block-end: 48px;
  padding-inline-start: 32px;
  padding-inline-end: 32px;
  font-size: 1.3rem;
  font-weight: 400;
}

.toc {
  position: sticky;
  position: -webkit-sticky;
  top: 24px;
  width: 100%;
  min-width: fit-content;
  margin-left: auto;
  height: fit-content;
}
