.wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem 0;
  gap: 1rem;
}

.title {
  color: var(--color-primary);
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.article {
  max-width: 48rem;
  padding-block-start: 48px;
  padding-block-end: 48px;
  padding-inline-start: 32px;
  padding-inline-end: 32px;
  background-color: white;
  border-radius: 24px;
  box-shadow: var(--post-shadow);
}

.toc {
  position: sticky;
  position: -webkit-sticky;
  top: 24px;
  width: 100%;
  min-width: fit-content;
  margin-left: auto;
  height: fit-content;
  border-radius: 24px;
  border: 2px solid #aeaeae;
}
